{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^[./]"
  ],
  "importOrderParserPlugins": [
    "typescript",
    "decorators-legacy"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
